body {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#main-content {
    position: relative;
    height: 100%;
    width: 100%;
}

#canvas {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    opacity: 0.6;
}
.canvas-container {
    position: absolute;
    width: 600px;
    height: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    background: url('../images/snakeGround.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#start-button,
#game-over-msg {
    position: absolute;
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
}

#start-button {
    top: calc(45% - 25px);
    left: calc(48% - 125px);
    border: solid 3px #17a2b8;
}

#game-over-msg {
    top: calc(45% - 75px);
    left: calc(48% - 125px);
}

#start-content {
    width: 100%;
    height: 100%;
    background: url('../images/startImage.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: #17a2b8;;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

